<!DOCTYPE html>
<html lang="en">
	<%- include('./includes/head.ejs') %>
	<body>
		<div class="footer-container">
			<div class="footer-wrapper">
				<%- include('./includes/navigation.ejs') %>
				<div class="container">
					<main class="pt-4">
						<%- include('./includes/total.ejs') %> <%-
						include('./includes/add-transaction.ejs') %> <%-
						include('./includes/income-expense-table.ejs') %>
					</main>
				</div>
			</div>
			<%- include('./includes/footer.ejs') %>
		</div>
		<script
			src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
			integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
			integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
			crossorigin="anonymous"
		></script>
		<script src="./js/site.js"></script>
	</body>
</html>
